<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout styles</title>
    <link rel="stylesheet" href="../../css/layout.css">
</head>

<body>

<div id="flexBoxLayout">
    <h2>Flexible Box Layout</h2>
    <div class="flex">
        <div>Box one</div>
        <div>Box Two</div>
        <div>Box Three</div>
    </div>
</div>

<div id="gridBoxLayout">
    <h2>Box Layout</h2>
    <p class="notice">To use this feature, enable "Experimental Web Platform Features" on <a href="chrome://flags" target="_blank">chrome://flags</a></p>

    <div class="grid">
        <div class="cell1">Cell One</div>
        <div class="cell2">Cell Two</div>
        <div class="cell3">Cell Three</div>
        <div class="cell4">Cell Four</div>
    </div>
</div>

<div id="regionLayout">
    <h2>Region Layout</h2>
    <p class="notice">To use this feature, enable "Experimental Web Platform Features" on <a href="chrome://flags" target="_blank">chrome://flags</a></p>
    <div class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</div>

    <div id="regions">
        <div class="myRegion" id="region1"></div>
        <div class="myRegion" id="region2"></div>
        <div class="myRegion" id="region3"></div>
        <div class="myRegion" id="region4"></div>
    </div>

</div>

<div id="exclusionLayout">
    <h2>Exclusions Layout</h2>

    <div id="grid">
        <div id="top-right" class="exclusion"></div>
        <div id="bottom-left" class="exclusion"></div>
        <div id="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</div>
    </div>
</div>
</body>
</html>